.main {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.player {
  grid-column-start: 1;
}

.player-container {
  max-width: 95%;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.podcast-info {
  text-align: center;
  margin: 10px 0;
}

.feed-section {
  grid-column-start: 2;
  color: #404040;
  background-color: #f6f6f6;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 10px;
}

.player-top-section {
  overflow-y: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.podcast-image img {
  width: 150px;
  height: 150px;
}

.podcast-title {
  padding: 10px 0 0 0;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.podcast-author {
  padding: 0 0 7px 0;
  display: block;
  font-size: 0.8rem;
  color: #777777;
}

.podcast-description {
  display: block;
  font-size: 0.7rem;
}

.current-episode {
  text-align: center;
}

.current-episode-title {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.current-episode-description {
  padding: 10px;
  font-size: 0.8rem;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

.player-bottom-section {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.empty-player {
  text-align: center;
  color: #797979;
  margin: 7%;
}

/* PLAYER CONTROLS */
.player-controls {
  background-color: #e6e6e6;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 20% 35% 25%;
  height: 11em;
  width: 100%;
  padding: 10px 0;
}

.currently-playing-title {
  font-family: 'Lato', sans-serif;
  align-self: center;
  font-weight: bold;
  font-size: 1.0rem;
  grid-column-start: 1;
  grid-row-start: 1;
}

.buttons {
  display: block;
  align-self: center;
}

.play-pause {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.play-button {
  font-size: 2.2rem;
  grid-column-start: 1;
  grid-row-start: 3;
  align-self: center;
  margin: 0px 35px;
}

.pause-button {
  font-size: 2.2rem;
  grid-column-start: 1;
  grid-row-start: 3;
  align-self: center;
  margin: 0px 35px;
}

.skip-back {
  cursor: pointer;
  font-size: 1.4rem;
  grid-row-start: 3;
  grid-column-start: 1;

}

.skip-forward {
  cursor: pointer;
  font-size: 1.4rem;
  grid-row-start: 3;
  grid-column-start: 1;

}

.seek-bar {
  font-size: 0.7rem;
  grid-row-start: 2;
  grid-column-start: 1;
  align-self: center;
}


.volume-bar {
  float: right;
  grid-row-start: 4;
  grid-column-start: 1;
  align-self: center;
}

input[type=range].seek-bar {
  margin: 0 10px;
  float: none;
  width: 60%;
}

input[type=range].volume-bar {
  margin: 0 10px;
  float: none;
  width: 60%;
}

input[type=range] {
  height: 8px;
  margin: 10px 0;
  width: 60%;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 8px;
  width: 10px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 8px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 8px;
  width: 17px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}

input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}


/* FEED */
.feed-container {
  width: 95%;
  margin: 0 auto;
}

.podcast-image img {
  width: 200px;
  height: 200px;
}


/* FEED ITEMS */
.feed-item {
  border-top: 1px solid #cccccc;
  display: grid;
  grid-template-columns: 15% 65% 20%;
  height: 3em;
}

.feed-item:hover {
  background-color: #d7d7d7;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.feed-item-list {
  align-self: center;
  padding: 0 10px;
}

.feed-item-play {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-item-title {
  grid-column-start: 2;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  align-self: center;
}

.feed-item-info {
  grid-column-start: 3;
  font-size: 0.7rem;
  align-self: center;
}

.item-play {
  cursor: pointer;
  font-size: 1.5rem;
}

.item-pause {
  cursor: pointer;
  font-size: 1.5rem;
}

.item-play:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  background-color: #d7d7d7;
}

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
